<div class="contenedor-principal">

  <div class="seccion-body corte">
    <div class="contenedor header1">
      <div class="textoHeader">
        <pre><p>{{ textoFinal }}</p></pre>
      </div>
    </div>

    <!-- <div style="display: flex; position: absolute">
       <div class="contenedor right">
         <img class="user" src="../../assets/image/user.png" style="margin-right: 40px">
       </div> -->
    <!--   <div class="contenedor left">
         <p class="presentacion">
           Hola, mi nombre es Lucas Sandoval
         </p>
       </div>
     </div>-->
  </div>

  <div class="presentacion">
    <!--  <div>
        <p>Hola! Soy Lucas</p>
        <p>Java Jr Developer</p>
      </div> -->
  </div>
</div>
<div class="segundoCorte" id="portfolio" style="background-color: #00aec3; height: 100vh">
  jhj
</div>
<div id="contacto" style="background-color: #00aabc; height: 100vh">
  jhj
</div>
